
@{
    ViewBag.Title = "PorOrden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ÍNDICE</h2>

<ul>
    <li>Ordenar por nombre</li>
    <li>Ordenar por fecha</li>
    <li>Ordenar por género</li>
</ul>
